<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Menu Sidebar -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="['/cadastrar-pessoas']"
        >Cadastrar Pessoas</ion-item
      >
      <ion-item [routerLink]="['/cadastrar-medicamentos']"
        >Cadastrar Medicamentos</ion-item
      >
      <ion-item [routerLink]="['/mapa']">Mapa</ion-item>
    </ion-list>
  </ion-content>

  <ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>Geolocalização com Leaflet</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div id="map" style="height: 100%"></div>
    </ion-content>
  </ion-content>
</ion-menu>
