<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastrar Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Menu Sidebar -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="['/cadastrar-medicamentos']"
        >Cadastrar Medicamentos</ion-item
      >
      <ion-item [routerLink]="['/mapa']">Mapa</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-content class="ion-padding" id="main-content">
  <form class="">
    <ion-item>
      <ion-label position="stacked">Nome do Medicamento</ion-label>
      <ion-input type="text" placeholder="Digite o nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Princípio Ativo</ion-label>
      <ion-input
        type="text"
        placeholder="Digite o princípio ativo"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome Científico</ion-label>
      <ion-input
        type="text"
        placeholder="Digite o nome científico"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Período que Deve Ser Tomado</ion-label>
      <ion-input type="text" placeholder="Ex: 7 dias" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Intervalo entre as Doses</ion-label>
      <ion-input type="text" placeholder="Ex: 8 horas" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Quantidade de Doses Diárias</ion-label>
      <ion-input
        type="number"
        min="1"
        placeholder="Digite a quantidade"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Via de Administração</ion-label>
      <ion-select placeholder="Selecione uma opção" required>
        <ion-select-option value="oral">Oral</ion-select-option>
        <ion-select-option value="injetável">Injetável</ion-select-option>
        <ion-select-option value="tópica">Tópica</ion-select-option>
        <ion-select-option value="inalatória">Inalatória</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Observações</ion-label>
      <ion-textarea placeholder="Digite as observações"></ion-textarea>
    </ion-item>

    <div class="button-container">
      <ion-button expand="block" class="button-form" type="submit">
        Cadastrar Medicamento
      </ion-button>
    </div>
  </form>
</ion-content>
