// Vermelho: #ff5757

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-menu::part(backdrop) {
  background-color: #ff5757;
}

ion-menu::part(container) {
  box-shadow: #ff5757;
}

/* Centralizar logo */
.logo {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

/* Estilizar container dos botões */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Espaçamento entre os botões */
  margin-top: 2rem;
}

/* Melhorar os botões */
ion-button {
  width: 90%; /* Preencher quase toda a largura */
  font-size: 1.1rem; /* Aumentar tamanho do texto */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adicionar sombra */
  border-radius: 8px; /* Bordas arredondadas */
}

/* Estilo do formulário */
.health-form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaçamento entre os campos */
  margin-top: 2rem; /* Espaçamento do topo */
}

.health-form ion-item {
  --padding-start: 0; /* Remove espaçamento lateral interno */
}

.health-form ion-button.submit-button {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}
