<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastrar Pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="['/cadastrar-medicamentos']"
        >Cadastrar Medicamentos</ion-item
      >
      <ion-item [routerLink]="['/mapa']">Mapa</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="ion-padding" id="main-content">
  <form (ngSubmit)="cadastrarUsuario()">
    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input
        type="text"
        placeholder="Digite seu nome completo"
        [(ngModel)]="nome"
        name="nome"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input
        type="email"
        placeholder="Digite seu e-mail"
        [(ngModel)]="email"
        name="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input
        type="password"
        placeholder="Digite sua senha"
        [(ngModel)]="senha"
        name="senha"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmação de Senha</ion-label>
      <ion-input
        type="password"
        placeholder="Confirme sua senha"
        [(ngModel)]="confirmacaoSenha"
        name="confirmacaoSenha"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <ion-input
        type="file"
        (change)="onFileChange($event)"
        name="foto"
        accept="image/*"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-input
        type="date"
        [(ngModel)]="dataDeNascimento"
        name="dataDeNascimento"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">RG</ion-label>
      <ion-input
        type="text"
        placeholder="Ex: 12.345.678-9"
        [(ngModel)]="RG"
        name="RG"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input
        type="text"
        placeholder="Ex: 123.456.789-00"
        [(ngModel)]="CPF"
        name="CPF"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Endereço</ion-label>
      <ion-input
        type="text"
        placeholder="Digite seu endereço"
        [(ngModel)]="endereco"
        name="endereco"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone de Contato</ion-label>
      <ion-input
        type="tel"
        placeholder="Ex: (99) 99999-9999"
        name="telefone"
        [(ngModel)]="telefone"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tipo de Usuário</ion-label>
      <ion-select
        placeholder="Selecione um tipo"
        [(ngModel)]="tipoUsuario"
        name="tipoUsuario"
        required
      >
        <ion-select-option value="paciente">Paciente</ion-select-option>
        <ion-select-option value="medico">Médico</ion-select-option>
        <ion-select-option value="acompanhante">Acompanhante</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campos adicionais para Paciente -->
    <div *ngIf="tipoUsuario === 'paciente'">
      <ion-item>
        <ion-label position="stacked">Telefone de Emergência</ion-label>
        <ion-input
          type="tel"
          placeholder="Ex: (99) 99999-9999"
          [(ngModel)]="telefoneEmergencia"
          name="telefoneEmergencia"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Altura (cm)</ion-label>
        <ion-input
          type="number"
          min="0"
          placeholder="Ex: 170"
          [(ngModel)]="altura"
          name="altura"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Peso (kg)</ion-label>
        <ion-input
          type="number"
          min="0"
          placeholder="Ex: 70"
          [(ngModel)]="peso"
          name="peso"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Motivo para o uso do APP</ion-label>
        <ion-input
          type="text"
          placeholder="Digite o motivo"
          name="motivoUsoApp"
          [(ngModel)]="motivoUsoApp"
          required
        ></ion-input>
      </ion-item>
    </div>

    <!-- Campos adicionais para Médico -->
    <div *ngIf="tipoUsuario === 'medico'">
      <ion-item>
        <ion-label position="stacked">CRM</ion-label>
        <ion-input
          type="text"
          name="crm"
          placeholder="Digite o CRM"
          [(ngModel)]="CRM"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Instituição de Formação</ion-label>
        <ion-input
          type="text"
          placeholder="Digite a instituição"
          name="instituicaoFormacao"
          [(ngModel)]="instituicaoFormacao"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ano de Formação</ion-label>
        <ion-input
          type="number"
          placeholder="Digite o ano"
          name="anoFormacao"
          [(ngModel)]="anoFormacao"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Especialidade</ion-label>
        <ion-input
          type="text"
          placeholder="Digite a especialidade"
          name="especialidade"
          [(ngModel)]="especialidade"
          required
        ></ion-input>
      </ion-item>
    </div>

    <!-- Campos adicionais para Acompanhante -->
    <div *ngIf="tipoUsuario === 'acompanhante'">
      <ion-item>
        <ion-label position="stacked">Relacionamento com Paciente</ion-label>
        <ion-input
          type="text"
          placeholder="Ex: Parente, Amigo"
          name="relacionamento"
          [(ngModel)]="relacionamento"
          required
        ></ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" class="button-form" type="submit"
      >Cadastrar</ion-button
    >
  </form>
</ion-content>
